@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  background: #F3F3F3;
  color: #4E4E4E;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  justify-content: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="checkbox"] + span {
  background: url('../assets/images/checkbox--unchecked.svg') left top no-repeat;
  background-size: 20px 20px;
  min-height: 20px;
  padding-left: 30px;
}

input[type="checkbox"]:checked + span {
  background-image: url('../assets/images/checkbox--checked.svg');
  text-decoration: line-through;
  color: #C9CDD1;
}
